@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
    position: relative;
}

.profile-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 33%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: #4070f4;
}

.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
    margin-bottom: 10px;
}

.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-data .name{
    font-size: 22px;
    font-weight: 500;
}

.text-data .job{
    font-size: 15px;
    font-weight: 400;
}

.card {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}
  
/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 5px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
}

/* instagram*/
.containerOne:hover {
    background-color: #db488a;
    transition-duration: 0.3s;
}

/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: 0.3s;
}

/* linkdin*/
.containerThree:hover {
    background-color: #4fc1ff;
    transition-duration: 0.3s;
}

/* Whatsapp*/
.containerFour:hover {
    background-color: #78e678;
    transition-duration: 0.3s;
}
  
.socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
}
  
.socialSvg {
    width: 17px;
}
  
.socialSvg path {
    fill: rgb(255, 255, 255);
}
  
.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}
  
@keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

.profile-card .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
  
.buttons .button{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 24px;
    margin: 0 10px;
    padding: 8px 24px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons .button:hover{
    background-color: #0e4bf1;

}

.rating {
    display: inline-block;
}
  
.rating input {
    display: none;
}
  
.rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
}
  
.rating label:before {
    content: '\2605';
    font-size: 30px;
}
  
.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: #4070f4;
    transition: color 0.3s;
}
  